$color1: #39b75d;
.navbar {
    display: flex;
    box-shadow: 0px 1px  0px rgb(205, 203, 203);
    position: sticky;
    top: 0; /* This ensures it sticks to the top */
    z-index:100; 
    height:5em;/* Optional: Helps to stay above other elements */
    background-color: white;
}
.toggle-btn{

    .toggle{
        height:4rem;
        width:3rem;
        color: $color1;
        position:relative;
        left:50px;
        top:0.5em;
    }
}
.nav_logo{
    display:flex;
    padding-left:40px;

    .logo{
    width:3em;
    height:3em;
    padding-top:7px;
    position:relative;
    top:0.3em;
    }
}
.logo_name{

        color:$color1;
        font-weight: bolder;
        font-size:30px;
        position:relative;
        top:-13px;
        left:-10px;
        
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.nav-menu{
    display:flex;
    align-items: center;
    list-style:none;
    gap:30px;

    position:relative;
    top:-15px;
    left:80px;
    justify-content: center;
 
    li{
        cursor:pointer;
        font-size:larger;
        color:rgb(66, 64, 64);
        font-weight: 450;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position:relative;
        top:0.5em;

        &:hover{
        color:$color1;
        transition:0.2s;
        }   

    }
}

@mixin plain_text_box{
    border-radius: 4px;
    width: 90px;
    height: 32px;
    padding:5px;
    font-size:20px;
    position:relative;
    right:-8em;
    top:0.5em;
    background-color: white;
    border-style: none;
    border:0.5px solid rgb(151, 148, 148);
    cursor:pointer;
}
@mixin plain_word{
    position:relative;
    top:-18px;
    text-align: center;
    text-decoration: solid;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;

    &:hover{
        color:$color1;
        transition:0.2s;
    }
}

@mixin green_text_box{
    border-radius: 4px;
    width: 90px;
    height: 32px;
    padding:5px;
    font-size:20px;
    position:relative;
    right:-9em;
    top:0.5em;
    background-color: white;
    border-style: none;
    border:0.5px solid rgb(151, 148, 148);
    background-color: $color1;
    cursor:pointer;

    &:hover{
        background-color: #319c4f;
        transition:0.2s;
    }
}

@mixin green_word{
    position:relative;
    top:-18px;
    text-align: center;
    text-decoration: solid;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-weight: 500;


}
.logIn{
     @include plain_text_box; 
     position:relative;
     top:0.7em;


    .log{
        @include plain_word;

    }
} 


.signIn{
    @include green_text_box;
    position:relative;
    top:0.7em;

    .sign{
        @include  green_word;
    }
}

@media(max-width:400px){
    .navbar{
        width: 97%;
        position:sticky;
        top:0;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-3.5em;
      }
      .nav_logo{
        font-size:14px;
      }  
      .logo_name{
        font-size:24px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:none;
      }
      .logIn{
        margin-left:-5em;
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }

}
@media(max-width:500px) and (min-width:400px){
    .navbar{
        width:88%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-3.5em;
      }
      .nav_logo{
        font-size:14px;
      }  
      .logo_name{
        font-size:24px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:none;
      }
      .logIn{
        margin-left:-5em;
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }
}
@media(max-width:600px) and (min-width:500px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-3.5em;
      }
      .nav_logo{
        font-size:14px;
      }  
      .logo_name{
        font-size:24px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:none;
      }
      .logIn{
        margin-left:-5em;
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }
}
@media(max-width:700px) and (min-width:600px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-1.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;


      }
      .logIn{
        margin-left:5em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }
}
@media(min-width:800px) and (min-width:700px){
    .navbar{
        width: 100%;

      .toggle-btn{
        font-size:0.5em;
        width:1em;
        margin-left:-2.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;


      }
      .logIn{
        margin-left:5em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }

}
@media(max-width:900px) and (min-width:800px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-1.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;


      }
      .logIn{
        margin-left:5em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }

}
@media(max-width:1080px) and (min-width:900px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-1.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;
        margin-left:-1.8em;
        width:28em;
        gap:2.3em;

        li{
            font-size:15px;
        }
        


      }
      .logIn{
        margin-left:2em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }

}
@media(max-width:1150px) and (min-width:1080px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-1.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;


      }
      .logIn{
        margin-left:5em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }

}
@media(max-width:1280px) and (min-width:1080px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-1.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;


      }
      .logIn{
        margin-left:5em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }

}
@media(max-width:1440px) and (min-width:1280px){
    .navbar{
        width:100%;

      .toggle-btn{
        font-size:1em;
        width:3em;
        margin-left:-1.5em;
      }
      .nav_logo{
        font-size:18px;
      }  
      .logo_name{
        font-size:28px;
        margin-top:1.2em;
      }
      .nav-menu{
        display:block;
        display:flex;


      }
      .logIn{
        margin-left:5em;
        
        font-size:17px;
        width:max-content;
    }
    .signIn{
        margin-left:0em;
        font-size:17px;
        width:max-content;
    }
    }
}